.task-view {
    margin: var(--default-margin) 0;
}

.task-inline {
    display: inline-block;
    margin: 0 0.5rem;
    width: 300px;
}

.task-view__task {
    margin-top: var(--default-margin);
}

.input-result-view {
    background: rgb(162, 255, 123);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    display: block;
    margin-top: var(--default-margin);
}

.input-result-view.error {
    background: rgb(255, 131, 131);
}

.input-result-view.inline {
    display: inline-block;
    margin: 0 0.5rem;
    width: fit-content;
}