presentation demo.pdf
План проектной деятельности Лобков А. Ю. 10Б.docx
предзащита.txt
презентации.txt
Презентации.docx
/backend/app.db
/Тезисы проектной деятельности Лобков А. Ю. 10Б.docx
/.idea/dataSources/50fbd78b-0dfb-41f4-9657-b40c46f2b6e4.xml
