.error-page__wrapper {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.error__title {
    font-family: 'Fredoka One', sans-serif;
    font-size: 4rem;
}

.error__description {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
}