.checkbox-group {
    display: flex;
    margin-top: 0.9rem;
}

.checkbox-group > input {
    border-radius: 5px;
    appearance: none;
    background-image: url("Checkbox.svg");
    border: 2px solid rgb(210, 210, 210);
    width: 18px;
    height: 18px;
    background-color: white;
    margin: 0;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.2s, background-color 0.2s;
}

.checkbox-group > input:checked {
    background-color: rgb(0, 87, 255);
    border-color: rgb(0, 87, 255);
}

.checkbox-group > span {
    color: #1e1e1e;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9rem;
    margin: auto 0 auto 0.6rem;
}