@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body {
    height: 100%;
}

body {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
}

.body-gradient {
    background: linear-gradient(90deg, #FFFFFF 0%, #D4D4E1 100%);
}

a {
    text-decoration: none;
}

h2 {
    font-family: "Rubik";
    font-size: 2.3rem;
    font-weight: bold;
}

.mt-1 {
    margin-top: 1rem;
}

input[type="text"], input[type="password"], input[type="email"] {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    transition: box-shadow .25s, background 0.25s;
    height: 2.5rem;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: 0;
    box-shadow: 0px 0px 2px 3px rgba(0, 87, 255, 0.3);
}

select {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    transition: box-shadow .25s, background 0.25s;
    height: 2.5rem;
    box-sizing: border-box;
    padding-left: 0.75rem;
    padding-right: 1rem;
    display: block;
    font-size: 1rem;
    appearance: none;
    background-image: url("../images/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 16px;
    width: 100%;
}

select:focus {
    outline: 0;
    box-shadow: 0px 0px 2px 3px rgba(0, 87, 255, .3);
}

label {
    font-size: .85rem;
    color: rgb(60, 60, 60);
    margin-bottom: 0.5rem;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 0.5rem;
    border-radius: 4px;
    appearance: none;
    background-image: url("../images/icons/check.svg");
    border: 1px solid rgb(150, 150, 150);
    width: 1em;
    height: 1em;
    background-color: white;
    margin: 0;
}

input[type="checkbox"]:focus {
    outline: 0;
    box-shadow: 0px 0px 2px 3px rgba(0, 87, 255, .3);
}

input[type="checkbox"]:checked {
    background-color: rgb(0, 87, 255);
    border-color: rgb(0, 87, 255);
}

.input-invalid {
    border: 1px solid rgb(255, 60, 60)!important;
    background: rgb(255, 200, 200)!important;
}

.layout {
    height: 100%;
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    vertical-align: middle;
    box-sizing: border-box;
}

.header__title {
    display: inline-block;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 6rem;
    cursor: pointer;

    background: linear-gradient(92.75deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.68) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.header__catalog {
    height: 2rem;
    padding: 0.2rem 0.8rem;
    margin: auto;
    line-height: 1.6rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    transition: background-color .2s ease-out, color .2s ease-out;
    cursor: pointer;
}

.header__catalog:hover {
    background-color: rgb(84, 105, 255);
    color: white;
}

.header__links {
    display: flex;
    height: 100%;
    gap: 0.5rem;
    margin-right: 1rem;
}

.header__links > a, .header__links > span {
    height: 2rem;
    padding: 0.2rem 0.8rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    margin: auto 0;
    transition: background-color .2s ease-out;
    cursor: default;
}

.header__links > a {
    cursor: pointer;
    color: black;
}

.header__links > a:hover, .header__links > span:hover {
    background-color: white;
}

.header__profile {
    height: 100%;
    display: flex;
    margin-left: 0.25rem;
    gap: 0.5rem;
}

.header__profile > a, .header__profile > span {
    height: 2rem;
    padding: 0.2rem 0.8rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    margin: auto 0;
    transition: background-color .2s ease-out;
    cursor: default;
    color: black;
}

.header__profile > a:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.header__menu {
    height: 100%;
    margin-left: 1rem;
    display: none;
    position: relative;
    margin-left: auto;
    align-items: center;
    text-align: center;
}

.header__menu > span {
    height: fit-content;
    font-weight: 600;
    margin-right: 16px;
}

.menu-button {
    margin: auto;
    background: transparent;
    border: none;
    border-radius: 6px;
    transition: background 0.2s, border 0.2s;
    cursor: pointer;
}

.menu-button:hover {
    border: solid 2px rgb(140, 140, 140);
}

.menu-dropdown {
    position: absolute;
    top: 90%;
    right: 1rem;
    border-radius: 12px;
    padding: 0.4rem;
    border: solid 1px rgb(190, 190, 190);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    opacity: 0;
    background-color: rgb(240, 240, 240);
    transition: opacity 0.2s;
}

.menu-dropdown__item {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 1.7rem;
    line-height: 1.5rem;
    transition: background-color 0.2s;
    padding: 0.1rem 0.75rem;
    border-radius: 4px;
}

.menu-dropdown__item:hover {
    background-color: rgb(220, 220, 220);
}

@media (max-width: 1320px) {
    .layout {
        width: 80%;
    }

    header {
        height: 4.5rem;
    }

    .header__title {
        line-height: 4.5rem;
    }

    .header__links {
        gap: 0;
    }

    .header__profile {
        margin-left: 0;
    }
}

@media (max-width: 1120px) {
    .layout {
        width: 100%;
    }

    header {
        padding: 0 16px;
    }
}

main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-banner {
    width: 96%;
    margin-left: auto;
    display: flex;
    margin-top: 2rem;
    font-family: "Rubik";
    margin-bottom: 140px;
}

.main-banner__description {
    width: 40%;
    box-sizing: border-box;
}

.main-banner__description > h1 {
    font-size: 3rem;
    background: linear-gradient(104.88deg, #1F2B66 5.36%, #222328 87.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-main-l {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(70, 70, 70);
}

.main-banner > img {
    width: 55%;
    margin: 0 auto;
}

.question-types {
    text-align: center;
}

.question-cards {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.question-card {
    height: 7rem;
    width: 100%;
    background: #F7F7F7;
    border-radius: 15px;
}

.log-reg-box {
    width: 30%;
    margin: 3rem auto;
    padding: 1.25rem;
    background: #F2F2F2;
    border-radius: 15px;
    border: 1px solid rgb(190, 190, 190);
    box-sizing: border-box;
}

.log-reg-box input[type="text"], .log-reg-box input[type="password"] {
    width: 100%;
    margin: 0.6rem 0;
}

.log-reg-box a {
    color: rgb(90, 90, 90);
    margin-left: auto;
    text-align: right;
    display: block;
}

.log-reg-box h1 {
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
    margin: 0;
    margin-bottom: 1rem;
}

.log-reg-box button {
    width: 100%;
    height: 2.6rem;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid rgb(190, 190, 190);
    margin-top: 1rem;
}

.btn-inactive {
    opacity: 0.5;
    pointer-events: none;
    cursor: default!important;
}

@media (max-width: 1320px) {
    .main-banner {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .header__menu {
        display: flex;
    }

    .header__links, .header__catalog, .header__profile {
        display: none;
    }

    header {
        border-bottom: 2px solid rgb(190, 190, 190);
    }

    .main-banner {
        width: 80%;
        flex-direction: column;
        margin-right: auto;
    }

    .main-banner__description {
        width: 90%;
        order: 1;
    }

    .main-banner > img {
        width: 100%;
        order: 0;
    }

    .login-box {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .main-banner {
        width: 100%;
    }

    .main-banner > img {
        width: 100%;
    }

    .main-banner__description > h1 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .text-main-l {
        font-size: 1.3rem;
    }

    .log-reg-box {
        width: 100%;
        border: none;
        border-radius: 0;
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .main-banner > img {
        width: 90%;
    }

    .main-banner__description {
        width: 90%;
    }
}