.login__wrapper {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.login__wrapper button {
    margin-left: auto;
    margin-top: var(--default-margin);
}

@media (min-width: 2560px) {
    .login__wrapper {
        width: 20%;
    }
}

@media (max-width: 500px) {
    .login__wrapper {
        width: 90%;
    }
}