.task-selector_edit {
    background-color: var(--controls-primary);
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    transition: background-color .25s, box-shadow .25s;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0.25rem;
}

.task-selector_edit.active {
    background-color: rgb(77, 151, 255);
    box-shadow: 0 0 25px rgba(17, 112, 218, 0.25);
}
.task-selector_edit:hover:not(.active) {
    background-color: var(--controls-primary-hovered);
}

.task-bar {
    width: fit-content;
    max-width: 100%;
}

.main-task-area {
    height: 30vh;
    margin-top: var(--default-margin);
}

.task-edit__form {
    position: relative;
}

.element-selector,
.element-editor-list {
    bottom: 4rem;
}

.element-selector .question-element-selector,
.element-editor-list span {
    font-weight: 400;
    color: #3F3F3F;
    display: block;
    margin-top: 0.5rem;
    cursor: pointer;
}

.element-editor-list span:first-child {
    margin-top: 0;
}

.element-selector .question-element-selector:nth-child(1) {
    margin-top: 0;
}

.element-editor-list {
    left: 30%;
}

.element-editor {
    left: 30%;
    top: 50%;
    width: 25rem;
    transform: translateY(-50%);
}

.element-editor .button {
    margin-top: var(--default-margin);
}

.element-editor .input-group:nth-child(1) > label {
    margin-top: 0;
}

.variant_adder {

}

.variant_name_inp {
    margin-top: var(--default-margin);
}

.variant-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    margin-top: var(--default-margin);
}

.variant-delete {
    margin: 0!important;
    padding: 0!important;
    width: 1.6rem;
    height: 1.6rem;
    background-color: red!important;
    border-radius: 6px!important;
}

.variant-delete > img {
    width: 1rem;
    height: 1rem;
}

.element-editor__select-preview {
    margin-top: var(--default-margin);
}