.test-edit__page {
    width: 70%;
    margin: 0 auto;
}

.test-dashboard {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.test-dashboard > .dashboard-content {
    width: 100%;
    height: fit-content;
}

.test-edit__title {
    padding: 1rem;
    display: flex;
}

.test-edit__title > img {
    width: 4rem;
    height: 4rem;
    border-radius: 6px;
    object-fit: cover;
}

.test-edit__title > .test-name {
    width: 50%;
    margin: auto;
}

.dashboard-content > .tab-content > .input-group:nth-child(1) > label {
    margin-top: 0!important;
}

.dashboard-content .submit {
    margin-top: var(--default-margin);
    margin-left: auto;
}

.solution-info {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: #f3f3f3;
    border-radius: 12px;
    padding: 0.7rem;
    gap: 12px;
}

.solution-info.not-expanded {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.solution-info > .result {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .test-edit__page {
        width: 95%;
    }
}