.button {
    display: block;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-family: "Roboto";
    height: fit-content;
}

.button.primary {
    border: none;
    background-color: var(--controls-primary);
    color: #fff;
}

.button.primary:hover {
    background-color: rgb(17, 112, 218);
}

.button.secondary {
    border: 1px solid var(--controls-primary);
    background-color: var(--controls-secondary);
    color: var(--controls-primary);
}

.button.secondary:hover {
    background-color: var(--controls-secondary-hovered);
}