{% extends "base.html" %}
{% block content %}
<div class="main-card">
    <div class="main-card__main-text">Удобный и быстрый инструмент для создания тестов</div>
    <div class="main-card__description">Любые типы вопросов, ручная проверка, таймер и многое другое - в одном
        бесплатном инструменте. Создавать тесты еще никогда не было так просто! Регистрируйся и начинаый создавть тесты
        прямо сейчас.
    </div>

    <object id="main-icon" data="../static/images/icons/main_icon.svg" style="position: absolute; top: 15%; right: 10%"></object>

    <div class="main-card__buttons">
        <div class="main-card__register">Регистрация</div>
        <div class="main-card__learn-more">Узнать больше</div>
    </div>
</div>

<div class="benefits">
    <div>
        <div class="benefit__title">Много типов вопросов</div>
        <div class="benefit__description">Одиночный выбор, множественный выбор, строка, число, последовательность, соответствия, заполнение пропусков</div>
    </div>
    <div>
        <div class="benefit__title">Ручная проверка</div>
        <div class="benefit__description">Если вопрос не имеет строгого ответа - можно проверить его вручную!</div>
    </div>
    <div>
        <div class="benefit__title">Итоговая таблица</div>
        <div class="benefit__description">Подведение итогов с ответами в конце</div>
    </div>
</div>
<div class="decorate-circle" style="transform: rotate(90deg)"></div>
<div class="decorate-circle" style="top: 37rem; left: 64%"></div>
{% endblock content %}

{% block script %}
<script>
    $(function() {
        let main_icon = $("#main-icon");
        let main_card = $("#main-card");
        main_icon.attr("height", main_card.height() * 0.25);
    });
</script>
{% endblock script %}