{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock styles %}

{% block content %}
<div class="main-banner">
    <div class="main-banner__description">
        <h1>Удобный и быстрый инструмент для создания тестов</h1>
        <span class="text-main-l">Любые вопросы, ручная проверка, таймер и многое другое - в одном бесплатном инструменте. Создавать тесты еще никогда не было так просто! Регистрируйся и начинаый создавть тесты прямо сейчас.</span>
    </div>
    <img src="../static/images/main-preview.svg">
</div>
<div class="question-types">
    <h2>Разные типы вопросов</h2>
    <div class="question-cards">
        <div class="block-default question-card"></div>
        <div class="block-default question-card"></div>
        <div class="block-default question-card"></div>
        <div class="block-default question-card"></div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="../static/js/index.js"></script>
{% endblock scripts %}