{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock styles %}

{% block content %}
<div class="log-reg-box block-default">
    <form method="post" novalidate>
        <h1 class="login__title">Авторизация</h1>
        <input type="text" class="" id="username" name="username" placeholder="Имя пользователя">
        <input type="password" class="" id="password" name="password" placeholder="Пароль">
        {{ checkbox("Запомнить меня", "remember-me") }}
        <a>Забыл пароль</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <span style="color: red; display: block; text-align: center;">{{ message }}</span>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <button class="disabled-btn" id="submit-btn">Войти</button>
        <a style="text-align: center;" class="mt-1">Регистрация</a>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="../static/js/login.js"></script>
{% endblock scripts %}