.mt-1 {
    margin-top: 1rem;
}

.block-default {
    background: #fcfcfc;
    border-radius: 18px;
    padding: var(--default-padding);
    box-shadow: 0 0 50px rgba(40, 40, 80, 0.03);
}

.form-label {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    display: block;
    margin: 0;
}

.controls {
    transition: background-color .25s;
}

.input-group > label {
    display: block;
    margin: var(--default-margin) 0 0.35rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #424244;
}

.hidden {
    display: none!important;
}

.m-a {
    margin: auto;
}

.f-end {
    margin-left: auto;
}

.my-a {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-a {
    margin-left: auto;
    margin-right: auto;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

@media (max-width: 768px) {
    .block-default {
        padding: 0.9rem;
    }
}