{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="../static/css/user.css">
{% endblock styles %}

{% block content %}
<div class="profile-layout">
    <aside class="block-default page-switch__wrapper">
        <button class="page-switch">Главная</button>
        <button class="page-switch">Пароль</button>
        <button class="page-switch">Прочее</button>
    </aside>
    <div class="block-default profile-settings">
        
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}