.main-banner {
    width: 96%;
    margin-left: auto;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 140px;
}

.main-banner__description {
    width: 50%;
    box-sizing: border-box;
}

.main-banner__description > h1 {
    font-size: 3rem;
    color: #24293F;
}

.main-banner > img {
    width: 55%;
    margin: 0 auto;
}

.question-types {
    text-align: center;
}

.question-cards {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.question-card {
    height: 7rem;
    width: 100%;
}

@media (max-width: 900px) {
    .main-banner {
        width: 100%;
        flex-direction: column;
        margin-right: auto;
        margin-top: 1rem;
    }

    .main-banner__description {
        width: 90%;
    }

    .main-banner > img {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .main-banner {
        width: 100%;
    }

    .main-banner > img {
        width: 100%;
    }

    .main-banner__description > h1 {
        font-size: 2.5rem;
        font-weight: 500;
    }
}

@media (max-width: 500px) {
    .main-banner > img {
        width: 90%;
    }

    .main-banner__description {
        width: 90%;
    }
}