.profile-layout {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: auto;
}

.page-switch__wrapper {
    padding: 0.5rem!important;
    width: fit-content;
    height: fit-content;
}

.page-switch {
    display: block;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background: transparent;
    transition: background-color .25s;
    padding: 0.4rem 0.5rem;
    font-size: 1.1rem;
    width: 100%;
}

.page-switch:hover,
.page-switch[active] {
    background: var(--background-grey);
}