.test__page {
    width: 60%;
    margin: 0 auto;
}

.test__title {
    margin-top: 0;
    margin-bottom: var(--default-margin);
}

.start-test_block {
    margin-top: var(--default-margin);
    margin-left: auto;
    width: fit-content;
}

.already-started-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 2rem auto;
    transition: opacity 0.2s;
}

.already-started-alert > div {
    display: flex;
    gap: 12px;
}

.alert_hidden {
    opacity: 0;
    display: none;
}

.not-ended-block {
    margin-top: var(--default-margin);
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 12px;
}

.result__wrapper {
    width: 60%;
    margin: var(--default-margin) auto 0;
}

.result__wrapper > .selected_results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.result__wrapper .result-block {
    display: flex;
    background: #0067ff;
    border-radius: 1rem;
    padding: var(--default-padding);
    cursor: pointer;
}

.result__wrapper .result-block h3 {
    color: white;
    margin: 0;
}

.result__wrapper .other-result {
    display: flex;
    background: white;
    border-radius: 1rem;
    padding: var(--default-padding);
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .test__page {
        width: 75%;
    }

    .result__wrapper {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .test__page {
        width: 90%;
    }

    .result__wrapper {
        width: 90%;
    }

    .result__wrapper .selected_results {
        grid-template-columns: 1fr;
    }
}